
body {
    margin: 0;
    max-height: 100vh;
    /* Subtle "+" and dot pattern */
    background: #fff;
    background-image:
        url("data:image/svg+xml;utf8,<svg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'><text x='50%' y='60%' alignment-baseline='middle' text-anchor='middle' font-size='14' fill='%23000000' font-family='monospace'>+</text></svg>");
    background-size:
        30px 30px,
        30px 30px,
        36px 36px,
        44px 44px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px;
    height: 100px;
    border: 3px solid #222;
    border-radius: 20px;
    background: #fff;
    box-shadow: 5px 5px 0px 0px #000;
}

.logo-box {
    display: flex;
    align-items: center;
    border-right: 3px solid #000;
    padding: 10px 20px;
    height: 80%;
}

.logo-circle {
    width: 60px;
    height: 60px;
    border: 3px solid #222;
    border-radius: 50%;
    background: #fff;
    transition: background 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

/* .logo-box:hover .logo-circle{
    background: linear-gradient(135deg, #DA6A78, #B96091, #9855AA, #774BC3, #5640DC);
}
.logo-box:hover .logo-i{
    background-color: rgba(0, 0, 0, 75%);
} */

.logo-i {
    width: 10px;
    height: 40px;
    border: 3px solid #000;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 65%);
}

.logo-text {
    display: flex;
    flex-direction: column;
    font-family: 'Khand', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #191919;
}

.nav-links-container {
    display: flex;
    height: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #000;
    padding: 20px;
    color: #000;
}

.nav-links a {
    color: inherit;
    font-family: 'Khand', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 1.2px;
    /* transition: background 0.2s, color 0.2s; */
}
.nav-end{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-links:hover {
    background: #191919;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin: 150px 50px 0px 50px;
}

.main-left {
    
    display: flex;
    justify-content: flex-start;
}

.main-left h2 {
    margin: 0;
    font-family: 'Teko', Arial, sans-serif;
    font-weight: 700;
    font-size: 10em;
    line-height: 1;
    letter-spacing: 2.6px;
    color: #000;
    text-shadow: 1.5px 2px 0 #fff, 3.5px 4px 0 #000;
    /* Outlined w/ shadow effect */
}

#stroke{
    color: transparent;
    

}
#logo-text{
    width: 700px;
}

.main-right {

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 500px;
}


@media (max-width: 900px) {
    main {
        flex-direction: column;
        align-items: stretch;
        padding: 36px 3vw 0 3vw;
    }

    .main-right {
        margin-top: 38px;
        justify-content: center;
    }

    .logo {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .navbar {
        padding: 8px 8px;
        margin: 6px 2vw 16px 2vw;
    }

    .main-left h1 {
        font-size: 2em;
    }
}